* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(90, 90, 90);
    height: 100px;
}

.logo img {
    width: 64px;
    height: 64px;
    margin-left: 80px;
    border-radius: 30px;
}

.link {
    display: flex;
}

.link a {
    display: block;
    padding: 20px;
    text-decoration: none;
    margin-right: 40px;
    color: #fff;
}

.link a:hover {
    background-color: rgb(139, 139, 139);
}

.banner {
    position: relative;
}

.bannertext {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    top: 30px;
}
.banner img {
    width: 100%;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card {
    width: 300px;
    border: 1px solid #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-container .card h3 {
    padding: 10px;
    text-align: center;
}

.card-container .card p{
    padding:10px;
}

.form {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: gainsboro;
    border-radius: 5px;
}

input[type=text], select{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0px;
    border: 1px solid #333;
    border-radius: 5px;
}

input[type=text]:focus{
    background-color: aquamarine;
}

input[type=submit]{
    width: 100%;
    padding: 13px 20px;
    margin-top: 10px;
    background-color: forestgreen;
    border: none;
    color: white;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 60px;
}

.icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .LinkDiv {
        display: none;
    }
    .link {
        display: flex;
        flex-direction: column;
    }
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .icon {
        display: block;
    }

    .logo {
        display: none;
    }

    .card-container {
        display: flex;
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }

    .form {
        width: 100%;
        box-sizing: border-box;
        margin: 0px;
    }
}